 /* line row with box  */
 .flex-container {
	display: flex;
	
  }
  
  .flex-container > div {
	transition: transform .2s;
	margin: 10px 0px 10px 10px;

  }

  .flex-container > div:hover {
	-ms-transform: scale(1.1); /* IE 9 */
	-webkit-transform: scale(1.1); /* Safari 3-8 */
	transform: scale(1.05); 
  }




  
/*  popup hover effect  */

.tooltip .tooltiptext {

	visibility: hidden;
	width: 280px;
	background-color: black;
	color: #fff;
	font-size: small;
	text-align: left;
	border-radius: 16px;
	padding: 2px 10px 15px 10px;
	position: absolute;
	z-index: 1;
	top: 60%;   	 /* on image content box */
	left: 50%;
	margin-left: -60px;
/* 
  bottom: 100%; */
  }
  
  .tooltip .tooltiptext::after {
	
	content: "";
	position: absolute;
	/* top: 100%; */
	bottom: 100%;
	left: 20%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent transparent black transparent;
  }
  
  .tooltip:hover .tooltiptext {
	visibility: visible;
  }