/* Text responsive */

/* When the browser's 
width is 600px wide or less, set the font-size of DIV to 12px. 
  When it is 601px or wider, set the font-size to 14px. Resize the browser window to see the effect. */



  div.headerexample {
	text-align: center;
	
  }
  
  @media screen and (min-width: 601px) {
	div.headerexample {
		
	  font-size: 10px;
	}
  }
  
  @media screen and (max-width: 600px) {
	div.headerexample {
		
	  font-size: 11px;
	}
  }