html {
    font-family: "Rubik", sans-serif;
    background: var(--background);
    color: var(--foreground);
    line-height: var(--line-height-m);
    font-weight: var(--font-weight-m);
    --light: #FFFFFF;
    --dark: #0D0E34;
    --foreground: var(--dark);
    --background: var(--light);
    --shade-700: #565671;
    --shade-600: #86889B;
    --shade-500: #B6B7C2;
    --shade-400: #E7E7EB;
    --shade-300: #F5F5F5;
    --shade-700-contrast: var(--light);
    --shade-600-contrast: var(--light);
    --shade-500-contrast: var(--light);
    --shade-400-contrast: var(--dark);
    --shade-300-contrast: var(--dark);
    --space-400: #3D3E5D;
    --space-500: #0D0E34;
    --space-600: #0A0B2A;
    --space-400-contrast: var(--light);
    --space-500-contrast: var(--light);
    --space-600-contrast: var(--light);
    --blue-400: #8A8FE2;
    --blue-500: #6D73DB;
    --blue-600: #4A4FA9;
    --blue-400-contrast: var(--light);
    --blue-500-contrast: var(--light);
    --blue-600-contrast: var(--light);
    --green-400: #79D4A2;
    --green-500: #58C989;
    --green-600: #46A16F;
    --green-400-contrast: var(--light);
    --green-500-contrast: var(--light);
    --green-600-contrast: var(--light);
    --red-400: #D06D35;
    --red-500: #C44801;
    --red-600: #9E3B01;
    --red-400-contrast: var(--light);
    --red-500-contrast: var(--light);
    --red-600-contrast: var(--light);
    --yellow-400: #FEEF7E;
    --yellow-500: #FDEB5D;
    --yellow-600: #CBBC4A;
    --yellow-400-contrast: var(--dark);
    --yellow-500-contrast: var(--dark);
    --yellow-600-contrast: var(--dark);
    --container-width-s: 500px;
    --container-width-m: 900px;
    --container-width-l: 1100px;
    --spacing-xxs: 4px;
    --spacing-xs: 6px;
    --spacing-s: 8px;
    --spacing-m: 12px;
    --spacing-l: 18px;
    --spacing-xl: 24px;
    --spacing-xxl: 30px;
    --spacing-xxxl: 40px;
    --spacing-xxxxl: 60px;
    --spacing-xxxxxl: 80px;
    --spacing-xxxxxxl: 120px;
    --border-radius-s: 8px;
    --border-radius-m: 16px;
    --border-radius-l: 24px;
    --font-size-s: 0.75rem;
    --font-size-m: 1.2rem;
    --font-size-l: 1.8rem;
    --font-size-xl: 2.5rem;
    --font-weight-t: 300;
    --font-weight-m: 400;
    --font-weight-b: 500;
    --line-height-m: 1.2em;
    --shadow: 0 2px 12px -2px var(--shadow-color, rgba(22, 22, 22, 0.2));
}


:not(svg) {
    transform-origin: 0px 0px;
}

#header-container {
    position: relative;
    
    
}
* {
    box-sizing: border-box;
}

div {
    display: block;
}

slot {
    display: contents;
}

::slotted([slot="footer"]) {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 var(--spacing-l);
}

:host {
    display: inline-flex;
    align-items: center;
}
element.style {
    --background: #6D73DB;
    --foreground: var(--light);
}
::slotted(:not(:last-child)), :host > :not(:last-child) {
    margin: 0 var(--spacing-xxl) 0 0;
}
/* a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: none;
} */
:host {
    display: flex;
    cursor: pointer;
    user-select: none;
    align-items: center;
    justify-content: center;
    line-height: 1;
    text-decoration: none;
    padding: var(--spacing-m) var(--spacing-xxl);
    background: var(--background);
    color: var(--foreground);
    box-shadow: var(--shadow);
    border-radius: var(--border-radius-m);
    transition: transform 120ms ease 0s;
    transform: scale(1);
    text-transform: uppercase;
    overflow: hidden;
    text-overflow: ellipsis;
    outline: none;
}
svg:not(:root) {
    overflow: hidden;
}

a {
    text-decoration: none;
}


/* #sun {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    
   
    transform-origin: 0px 0px;
    width: 2000px;
    height: 2000px;
    contain: strict;
} */


/* #sun {
    text-align: center;
    width: 2000px;
    height: 2000px;
    position: absolute;
    right: -19%;
    bottom: -65%;
    top: -110%;
    transform: translate(50%, 50%);
    animation: 50s linear 0s infinite normal none running rotation;
  }
  
  @keyframes rotation {
    from {transform: rotate(0deg);}
    to {transform: rotate(359deg);}
  } */



#sun {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    animation: 50000s linear 0s infinite normal none running rotate;
    animation-duration: 50000s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: rotate;
    transform-origin: 0px 0px;
    width: 2000px;
    height: 2000px;
    contain: strict;
  }
  #sun > path {
    fill: rgb(47, 49, 105);
}



@keyframes rotate{
    0% {
        transform: rotate(0deg) translate(-50%, -50%);
    }


    100% {
        transform: rotate(360000deg) translate(-50%, -50%);
    }
    
}



  
  /* @keyframes rotation {
      from {
              transform: rotate(0deg);
      }
      to {
              transform: rotate(359deg);
      }
  } */




svg:not(:root) {
    overflow: hidden;

}

::slotted([slot="footer"]) {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 var(--spacing-l);
}
:host {
    display: inline-flex;
    align-items: center;
}

:host([role="heading"]) {
    font-weight: var(--font-weight-b);
}

:host {
    display: block;
    font-size: var(--font-size-l);
    font-weight: var(--font-weight-t);
    line-height: var(--line-height-m);
}


#avatar {
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: scale;
    margin: 0 0 var(--spacing-m);
    width: 140px;
    height: 157px;
}

#title {
    transition: opacity 120ms ease-out 0s;
    transition-property: opacity;
    transition-duration: 120ms;
    transition-timing-function: ease-out;
    transition-delay: 0s;
    font-size: 1rem;
}


#header {
    width: 100%;
    height: 80vh;
    min-height: 450px;
    background: var(--space-500);
    color: var(--space-500-contrast);
    display: flex;
    align-items: center;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
}

#content {
    padding: var(--spacing-m);
    margin: 0px auto;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    text-align: center;
    max-width: var(--container-width-s);
    position: relative;
}



/* Rotation */

#loading {
    -webkit-animation: rotation 104s infinite linear;
    background-color: aqua;
}

@-webkit-keyframes rotation {
    from {
            -webkit-transform: rotate(0deg);
    }
    to {
            -webkit-transform: rotate(359deg);
    }
}





/* Features Sections */

#features{
    padding: 7% 15%;
}

.feature-box{
    text-align: center;
    padding: 3%;
}


.mainPage{
    text-align: center;
}




/* Text responsive */

/* When the browser's 
width is 600px wide or less, set the font-size of DIV to 12px. 
  When it is 601px or wider, set the font-size to 14px. Resize the browser window to see the effect. */

/* Main Title */

div.headerexample {
	text-align: center;
	
  }
  
  @media screen and (min-width: 601px) {
	div.headerexample {
		
	  font-size: 20px;
	}
  }
  
  @media screen and (max-width: 600px) {
	div.headerexample {
		
	  font-size: 14px;
	}
  }


  body{
    font-family: "Montserrat";
}

/* Section Two */

#sectionTwo{
    background-color: #ff4c68;
    color: #fff;
    height: 620px;
}

/* Rotate */



.sectionOne{
    text-align: center;
}


/* Zoom */

.full {
    position: absolute;
    height: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: block;
  }
  
  .zoom {
    animation: 4s ease-in-out 0s infinite normal none running scale;
      animation-duration: 4s;
      animation-timing-function: ease-in-out;
      animation-delay: 0s;
      animation-iteration-count: infinite;
      animation-direction: normal;
      animation-fill-mode: none;
      animation-play-state: running;
      animation-name: scale;
      width: 140px;
      height: 167px;
  }
    
  @keyframes scale {
    25% {
      -webkit-transform:scale(1.1);
      -moz-transform:scale(1.1);
      -ms-transform:scale(1.1);
      -o-transform:scale(1.1);
      transform:scale(1.1);
    }
  }

   /* NavBar border starts  */

.navbar {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;

	padding: 0.5rem;

	/* border-radius: 0px 0px 15px 15px; */
	
  }

/* Navbar - background color */

.bg-light {
	background-color: #f8f9fa !important;
  }

  .bg-dark {
	background-color: #212529 !important;
  }

  .bg-blue {
	background-color: #275786 !important;
  }

/* fixed-top */

  .fixed-top {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1030;
  }

  .sticky-top {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 1020;
  }


  /* navbar-expand-lg navbar-toggler  */

  @media (min-width: 992px) {
	.navbar-expand-lg {
	  flex-wrap: nowrap;
	  justify-content: flex-start;
	}
	.navbar-expand-lg .navbar-nav {
	  flex-direction: row;
	}
	.navbar-expand-lg .navbar-nav .dropdown-menu {
	  position: absolute;
	}
	.navbar-expand-lg .navbar-nav .nav-link {
	  padding-right: 0.5rem;
	  padding-left: 0.5rem;
	}
	.navbar-expand-lg .navbar-collapse {
	  display: flex !important;
	}
	.navbar-expand-lg .navbar-toggler {
	  display: none;
	}
  }

  .navbar-expand .navbar-collapse {
	display: flex !important;
  }
  .navbar-expand .navbar-toggler {
	display: none;
  }

  .collapse:not(.show) {
	display: none;
  }

  .navbar-collapse {
	align-items: center;
	width: 100%;
  }

  /* navbar-nav */

  .navbar-nav {
	display: flex;
	flex-direction: column;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
	align-items: right;
  }
  
  .navbar-nav .nav-link {
	padding-right: 0;
	padding-left: 0;
	align-items: center;
  }
  
  .navbar-nav .dropdown-menu {
	position: static;
  }

  .navbar-dark .navbar-nav .nav-link {
	color: rgba(255, 255, 255, 0.55);
  }
  
  .navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
	color: rgba(255, 255, 255, 0.75);
  }
  
  .navbar-dark .navbar-nav .nav-link.disabled {
	color: rgba(255, 255, 255, 0.25);
  }
  
  .navbar-dark .navbar-nav .show > .nav-link,
  .navbar-dark .navbar-nav .nav-link.active {
	color: rgb(255, 0, 0);
  }


  .navbar-expand {
	flex-wrap: nowrap;
	justify-content: flex-start;
  }
  
  .navbar-expand .navbar-nav {
	flex-direction: row;
  }
  
  .navbar-expand .navbar-nav .dropdown-menu {
	position: absolute;
  }
  
  .navbar-expand .navbar-nav .nav-link {
	padding-right: 0.5rem;
	padding-left: 0.5rem;
  }

  /* ml-auto */
  .ml-auto {
	margin-left: auto !important;
  }

  /* nav-item */

  .nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: #495057;
  background-color: #fff;
  border-color: #dee2e6 #dee2e6 #fff;
}

.nav-fill > .nav-link,
.nav-fill .nav-item {
  flex: 1 1 auto;
  text-align: center;
}

.nav-justified > .nav-link,
.nav-justified .nav-item {
  flex-basis: 0;
  flex-grow: 1;
  text-align: center;
}



/* nav-link */
.nav-link {
	display: block;
	padding: 0.5rem 1rem;
	text-decoration: none;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  }
  
  