html {
  font-family: "Rubik", sans-serif;
  background: var(--background);
  color: var(--foreground);
  line-height: var(--line-height-m);
  font-weight: var(--font-weight-m);
  --primary:   #65a8ca;
  --white:   #fff;
  --black:   #000;
  --light: #FFFFFF;
  --dark: #0D0E34;
  
  --foreground: var(--dark);
  --background: var(--light);
  --shade-700: #565671;
  --shade-600: #86889B;
  --shade-500: #B6B7C2;
  --shade-400: #E7E7EB;
  --shade-300: #F5F5F5;
  --shade-700-contrast: var(--light);
  --shade-600-contrast: var(--light);
  --shade-500-contrast: var(--light);
  --shade-400-contrast: var(--dark);
  --shade-300-contrast: var(--dark);
  --space-400: #3D3E5D;
  --space-500: #0D0E34;
  --space-600: #0A0B2A;
  --space-400-contrast: var(--light);
  --space-500-contrast: var(--light);
  --space-600-contrast: var(--light);
  --blue-400: #8A8FE2;
  --blue-500: #6D73DB;
  --blue-600: #4A4FA9;
  --blue-400-contrast: var(--light);
  --blue-500-contrast: var(--light);
  --blue-600-contrast: var(--light);
  --green-400: #79D4A2;
  --green-500: #58C989;
  --green-600: #46A16F;
  --green-400-contrast: var(--light);
  --green-500-contrast: var(--light);
  --green-600-contrast: var(--light);
  --red-400: #D06D35;
  --red-500: #C44801;
  --red-600: #9E3B01;
  --red-400-contrast: var(--light);
  --red-500-contrast: var(--light);
  --red-600-contrast: var(--light);
  --yellow-400: #FEEF7E;
  --yellow-500: #FDEB5D;
  --yellow-600: #CBBC4A;
  --yellow-400-contrast: var(--dark);
  --yellow-500-contrast: var(--dark);
  --yellow-600-contrast: var(--dark);
  --container-width-s: 500px;
  --container-width-m: 900px;
  --container-width-l: 1100px;
  --spacing-xxs: 4px;
  --spacing-xs: 6px;
  --spacing-s: 8px;
  --spacing-m: 12px;
  --spacing-l: 18px;
  --spacing-xl: 24px;
  --spacing-xxl: 30px;
  --spacing-xxxl: 40px;
  --spacing-xxxxl: 60px;
  --spacing-xxxxxl: 80px;
  --spacing-xxxxxxl: 120px;
  --border-radius-s: 8px;
  --border-radius-m: 16px;
  --border-radius-l: 24px;
  --font-size-xs: 0.5rem;
  --font-size-s: 0.75rem;
  --font-size-m: 1.2rem;
  --font-size-l: 1.8rem;
  --font-size-xl: 2.5rem;
  --font-weight-t: 300;
  --font-weight-m: 400;
  --font-weight-b: 500;
  --line-height-m: 1.2em;
  --shadow: 0 2px 12px -2px var(--shadow-color, rgba(22, 22, 22, 0.2));
}







.bg-light{
  background-color: white !important;
}

.nav-link {
  background-color: white ;
  
  color: var(--black);
}

#bar{
  background-color: white !important ;
  
  color: var(--black);
}
a:hover{
  color: #000;
  font-weight: bold;
}





/* btn-block */

.btn-block{
  display:block;
  width:100%
}
.btn-block+.btn-block{
  margin-top:5px
}
input[type=button].btn-block,
input[type=reset].btn-block,
input[type=submit].btn-block{
  width:100%
}



:not(svg) {
  transform-origin: 0px 0px;
}

#header-container {
  position: relative;
  
  
}
* {
  box-sizing: border-box;
}

div {
  display: block;
}

slot {
  display: contents;
}

::slotted([slot="footer"]) {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, 50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 var(--spacing-l);
}

:host {
  display: inline-flex;
  align-items: center;
}
element.style {
  --background: #6D73DB;
  --foreground: var(--light);
}
::slotted(:not(:last-child)), :host > :not(:last-child) {
  margin: 0 var(--spacing-xxl) 0 0;
}
/* a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: none;
} */
:host {
  display: flex;
  cursor: pointer;
  user-select: none;
  align-items: center;
  justify-content: center;
  line-height: 1;
  text-decoration: none;
  padding: var(--spacing-m) var(--spacing-xxl);
  background: var(--background);
  color: var(--foreground);
  box-shadow: var(--shadow);
  border-radius: var(--border-radius-m);
  transition: transform 120ms ease 0s;
  transform: scale(1);
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
  outline: none;
}
svg:not(:root) {
  overflow: hidden;
}

a {
  text-decoration: none;
}


/* #sun {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  
 
  transform-origin: 0px 0px;
  width: 2000px;
  height: 2000px;
  contain: strict;
} */


/* #sun {
  text-align: center;
  width: 2000px;
  height: 2000px;
  position: absolute;
  right: -19%;
  bottom: -65%;
  top: -110%;
  transform: translate(50%, 50%);
  animation: 50s linear 0s infinite normal none running rotation;
}

@keyframes rotation {
  from {transform: rotate(0deg);}
  to {transform: rotate(359deg);}
} */



#sun {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  animation: 50000s linear 0s infinite normal none running rotate;
  animation-duration: 50000s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: rotate;
  transform-origin: 0px 0px;
  width: 2000px;
  height: 2000px;
  contain: strict;
}
/* #sun > path {
  fill: rgb(47, 49, 105);
} */

/* #sun > path {
fill: rgb(17, 18, 58);
} */

#sun > path {
  fill: rgb(56, 57, 133);
  }

@keyframes rotate{
  0% {
      transform: rotate(0deg) translate(-50%, -50%);
  }


  100% {
      transform: rotate(360000deg) translate(-50%, -50%);
  }
  
}




/* @keyframes rotation {
    from {
            transform: rotate(0deg);
    }
    to {
            transform: rotate(359deg);
    }
} */




svg:not(:root) {
  overflow: hidden;

}


:host {
  display: inline-flex;
  align-items: center;
}

:host([role="heading"]) {
  font-weight: var(--font-weight-b);
}

:host {
  display: block;
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-t);
  line-height: var(--line-height-m);
}


#avatar {
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: scale;
  margin: 0 0 var(--spacing-m);
  width: 150px;
  height: 171px;
}



@media screen and (min-width: 601px) {
  #avatar {
    width: 150px;
  height: 171px;
    }
  }
  
  @media screen and (max-width: 600px) {
    #avatar {
      width: 80px;
      height: 95px;
   }
  }




  

/* Typing Animation */

/* Animation */

.line-1{
position: relative;
top: 50%;  
width: 24em;
margin: 0 auto;
border-right: 2px solid rgba(255,255,255,.75);
font-size: 180%;
text-align: center;
white-space: nowrap;
overflow: hidden;
transform: translateY(-50%);    
}

.anim-typewriter{
animation: typewriter 8s steps(76) 1s 12 normal both,
           blinkTextCursor 500ms steps(76) infinite normal;
}
@keyframes typewriter{
from{width: 0;}
to{width: 24em;}
}
@keyframes blinkTextCursor{
from{border-right-color: rgba(255,255,255,.75);}
to{border-right-color: transparent;}
}

/* Title */

#title {
  transition: opacity 120ms ease-out 0s;
  transition-property: opacity;
  transition-duration: 120ms;
  transition-timing-function: ease-out;
  transition-delay: 0s;
}

 /* title   */

 .t01 {
text-align: center;
margin-top: 1rem;
font-weight: normal;
}

@media screen and (min-width: 601px) {
.t01 {
    font-size: var(--font-size-l);
    font-size: 1.2rem; 
}
}

@media screen and (max-width: 600px) {
.t01 {
    font-size:  var(--font-size-s);
    font-size: 1.2rem; 
  /* padding: top/bottom % left/right%; */
}
}

/* SUN BACKGROUND WIDTH */

#header {
  width: 100%;
  height: 70vh;
  min-height: 450px;
  background: var(--space-500);
  color: var(--space-500-contrast);
  display: flex;
  align-items: center;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
}

@media screen and (min-width: 601px) {
  #header {
    height: 70vh;
    }
  }
  
  @media screen and (max-width: 600px) {
    #header {
      height: 65vh;
   }
  }


#content {
  padding: var(--spacing-m);
  margin: 0px auto;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  text-align: center;
  max-width: var(--container-width-s);
  position: relative;
}
#contentTwo {
  padding: var(--spacing-m);
  margin: 0px auto;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  text-align: center;
  max-width: var(--container-width-s);
  position: relative;
}





/* Rotation */

#loading {
  animation: rotation 104s infinite linear;
  background-color: aqua;
}

@keyframes rotation {
  from {
          transform: rotate(0deg);
  }
  to {
          transform: rotate(359deg);
  }
}





/* Features Sections */






/* Text responsive */

/* When the browser's 
width is 600px wide or less, set the font-size of DIV to 12px. 
When it is 601px or wider, set the font-size to 14px. Resize the browser window to see the effect. */

/* Main Title */

div.headerexample {
text-align: center;

}

@media screen and (min-width: 601px) {
div.headerexample {
  
    font-size: 20px;
    color: chartreuse;
   
}
}

@media screen and (max-width: 600px) {
div.headerexample {
  
  font-size: 14px;
}
}


body{
  font-family: "Montserrat";
}




/* Section Two */

#sectionTwo{
  background-color: #ff4c68;
  color: #fff;
  height: 620px;
}

/* Rotate */



.sectionOne{
  text-align: center;
}


/* Zoom */

.full {
  position: absolute;
  height: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: block;
}

.zoom {
  animation: 4s ease-in-out 0s infinite normal none running scale;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: scale;
    width: 140px;
    height: 167px;
}
  
@keyframes scale {
  25% {
    -webkit-transform:scale(1.1);
    -moz-transform:scale(1.1);
    -ms-transform:scale(1.1);
    -o-transform:scale(1.1);
    transform:scale(1.1);
  }
}


/* nav-link */
.nav-link {
display: block;
padding: 0.5rem 1rem;
text-decoration: none;
transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}


/* Projects section */



/* Features Sections */

/* #features{
  padding: 7% 15%;
}

.feature-box{
  text-align: center;
  padding: 3%;
} */

/* #features{
  padding: 1% 15%;
} */

.feature-box{
  text-align: center;
  align-items: center;
  padding-left: 3%;
  padding-top: 3%;
}


.mainPage{
  text-align: center;
}



constructed stylesheet
:host {
  display: inline-flex;
  align-items: center;
}



/* Tab  */

#java .pt-5{
  padding-top: 3rem!important;
}

.pb-3, .py-3 {
  padding-bottom: 0rem!important;
}
.ml-2, .mx-2 {
  margin-left: 0rem!important;
}


.mr-2, .mx-2 {
  margin-right: 0rem!important;
}

 

.nav-pills .nav-link {
  border-radius: 0rem;
}

#hrColor {
  border: 0;
  height: 5px;
  background-color: var(--dark);
}

#hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

#myTabMD{
 }


/* ALL section */



/* DEVEloepr tab starts */
#java .container .tab-content{
  padding: 1rem;
  }
 
 #java .container .tab-content .carousel-inner{
  
   border-radius: var(--border-radius-m);
  }
 
 #java .container .tab-content .carouselExampleIndicators{
   max-width: 250px;
 }



/* ALLtotal */


/* Jnafau University App */
#carouselExampleControlsj01 .carousel-inner{
  border-radius: var(--border-radius-m);


}

/* Website */
#carouselExampleControlsj02 .carousel-inner{
  border-radius: var(--border-radius-m);

}
/* Movie Titles */
#carouselExampleControls02 .carousel-inner{
  border-radius: var(--border-radius-m);

}
/* Magazine */
#carouselExampleControls03 .carousel-inner{
  border-radius: var(--border-radius-m);

}


/* Color masking */
#carouselExampleControls0 .carousel-inner{
  border-radius: var(--border-radius-m);

}


/* Jnafau University App */
#carouselExampleControlsj1 .carousel-inner{
  border-radius: var(--border-radius-m);

}
/* website */
#carouselExampleControlsj2 .carousel-inner{
  border-radius: var(--border-radius-m);

}

/* color massking */
#carouselExampleControls0 .carousel-inner{
  border-radius: var(--border-radius-m);
}

 

/* Section wise slides */

/* Jnafau University App */

 #carouselExampleControlsj1 .carousel-inner{
   border-radius: var(--border-radius-m);
 }
 /* Website */
 #carouselExampleControlsj2 .carousel-inner{
  border-radius: var(--border-radius-m);
}
/* Jnafau University App */
#carouselExampleControlsjj1 .carousel-inner{
  border-radius: var(--border-radius-m);
}

/* Website */
#carouselExampleControlsjjj1 .carousel-inner{
  border-radius: var(--border-radius-m);
}


/* Movie Titles */
#carouselExampleControls2 .carousel-inner{
  border-radius: var(--border-radius-m);
}


/* Magazine */
#carouselExampleControls3 .carousel-inner{
  border-radius: var(--border-radius-m);
}

/* Color masking */
#carouselExampleControls .carousel-inner{
  border-radius: var(--border-radius-m);
}



/* Developer tab ends */



/* graphic design section */
#webTitle{
  margin-top: 20px;
}

      /* margin IN MAIN CARD */

      @media screen and (min-width: 601px) {
        #webTitle {
            font-size: var(--font-size-l);
            font-weight: bold;
        }
      }
      
      @media screen and (max-width: 600px) {
        #webTitle {
          font-size: var(--font-size-m);
          font-weight: bold;
        }
      }


/* Web section */


#web .container .tab-content{
 padding: 0rem;
 }

#web .container .tab-content .carousel-inner{
 
  border-radius: var(--border-radius-m);
 }

#web .container .tab-content .carouselExampleIndicators{
  max-width: 250px;
}
.Portfolio {
  position: relative;
  margin: 5px;
  border: 2px solid black;
  float: left;
  width: 232px;
  transition-duration: 0.4s;
  border-radius: 15px;
}

.Portfolio:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}

.Portfolio img {
  width: 100%;
  height: auto;
  border-radius: 5px
}

 
/* ServviceNow */

 .tab-content{
  background: rgb(56, 57, 133);
  color: white
}

  .nav-link{
    background: #f8f9fa ;
  color: var(--black);
 
}

#myTabMD .nav-link.active, .nav-pills .show>.nav-link {
  color: #fff;
  background-color: #0D0E34;
}




      /*navbar text */

      @media screen and (min-width: 601px) {
        #myTabMD .nav-link {
            font-size: var(--font-size-m);
            
        }
      }
      
      @media screen and (max-width: 600px) {
        #myTabMD .nav-link {
          font-size: var(--font-size-s);
          
        }
      }









 
/* INSIDE TAB STARTS */



/* Tab  */

#web .pt-5{
  padding-top: 0rem!important;
}

#web .pb-3, .py-3 {
  padding-bottom: 0rem!important;
}
.ml-2, .mx-2 {
  margin-left: 0rem!important;
}
.mr-2, .mx-2 {
  margin-right: 0rem!important;
}

.nav-pills .nav-link {
  border-radius: 0rem;
}

 
 
/* ALL section */



/* Photoshop section */
#webTitle{
  margin-top: 20px;
 
} 
      @media screen and (min-width: 601px) {
        #webTitle {
            font-size: var(--font-size-l);
            font-weight: bold;
        }
      }
      
      @media screen and (max-width: 600px) {
        #webTitle {
          font-size: var(--font-size-m);
          font-weight: bold;
        }
      }
 
 #carouselIcon{
   color: #000 !important;
 }


 /* .carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  
  background-size: 100%, 100%;
  
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 35px;
  color: var(--primary);
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 35px;
  color: var(--primary);
} */


.carousel-control-prev-icon {
 
  
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f00' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
 
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f00' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}


/* ServviceNow */



/* INSIDE TAB ENDS */

#linkWhite{
  color: white !important;
  font-weight: normal;
 
}

#linkBlack{

color: black !important;
font-weight: normal;

}


/*footer*/

#footerlink{
color: black !important;
text-decoration: none;
font-weight: bold;
}

.text-center{
text-align: center;
}

.col_white_amrc { color:black;}
footer { width:100%; 
background-color:transparent; min-height:150px; padding:10px 0px 10px 0px ;}
.pt2 { padding-top:10px ; margin-bottom:10px ;}
footer p { font-size:13px; color:black; padding-bottom:0px; margin-bottom:8px;}
.mb10 { padding-bottom:15px ;}
.footer_ul_amrc { margin:0px ; list-style-type:none ; font-size:14px; padding:0px 0px 10px 0px ; }
.footer_ul_amrc li {padding:0px 0px 5px 0px;}
.footer_ul_amrc li a{ color:black;}
.footer_ul_amrc li a:hover{ color:black; text-decoration:none;}
.fleft { float:left;}
.padding-right { padding-right:10px; }

.footer_ul2_amrc {margin:0px; list-style-type:none; padding:0px;}
.footer_ul2_amrc li p { display:table; }
.footer_ul2_amrc li a:hover { text-decoration:none;}
.footer_ul2_amrc li i { margin-top:5px;}

.bottom_border { 
  border-bottom:1px 
  solid #323f45; 
  padding-bottom:0px;
 
}
 
.foote_bottom_ul_amrc {
list-style-type:none;
padding:0px;
display:table;
margin-top: 10px;
margin-right: 5px;
margin-bottom: 10px;
margin-left: 5px;
}
.foote_bottom_ul_amrc li { display:inline;}
 

.social_footer_ul { display:table; margin:15px auto 0 auto; list-style-type:none;  }

.social_footer_ul #play{
padding-left: 0px;
padding-top:10px;
float:left; 
}



.social_footer_ul li { padding-left:20px; padding-top:10px; float:left; }
.social_footer_ul li a { color:black; border:1px solid black; padding:8px;border-radius:50%;}
.social_footer_ul li i {  width:20px; height:20px; text-align:center;}

/* Footer ends */














/* Image CSS custom */

.culture-section {
  background: linear-gradient(rgba(0, 0, 0, 0.45),rgba(0, 0, 0, 0.45)), 
  url(https://www.solodev.com/assets/culture.jpg) top no-repeat;
  height: 100%;
  background-size: cover;
  color: #fff;
  text-align: center;
  padding: 250px 0px;
}
 
.culture-section h2 {
  font-weight: 800;
  font-size: 50px;
}
.culture-section h3 {
  font-size: 25px;
  font-weight: 700;
  margin: 14px 0;
  font-family: 'proxima-nova', sans-serif;
  text-transform: capitalize;
}
.culture-section p {
  margin: 36px auto;
  font-size: 18px;
  width: 75%;
}
.btn {
  font-size: 18px !Important;
}
.btn-slider {
  background-color: #fff;
  color: #d2282e;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding: 12px 35px;
  font-weight: 800;
}
.btn-slider:hover {
  background-color: #dbdbdb;
  color: #565299;
}

/* Popup CSS Below */
.flexslider .slides img {
margin: 0 auto;
max-width: 100px;
}
.ct-sliderPop {
border-radius:50%;
width:650px !important;
height:650px !important;
}
.ct-sliderPop > .inner > .cow-map-img {
margin-top: 75px;
}
.ct-sectional .col-lg-5.col-lg-offset-1 > img {
cursor: pointer;
border-radius: 50%;
}
.ct-sliderPop .inner {
color: #fff;
margin-top: 110px;
}
.map-white-border {
border-bottom: 1px solid #fff;
width: 30%;
margin: 50px auto;
}
.ct-sliderPop-container {
display: none;
left: 0px;
opacity: 0;
top: 0px;
z-index: 9998;
}
.ct-sliderPop-container.open {
animation-duration: 0.35s;
animation-fill-mode: both;
animation-name: fadeIn;
display: block;
}
.ct-sliderPop-container {
overflow:hidden;
display: inline-table;
max-width: 650px !important;
left: 50%;
position: fixed !important; /* Required to override style inline style added by Flexslider */
text-align: center;
top: 45%;
transform: translate(-50%, -50%);
z-index: 9997;
}
.ct-sliderPop-slide1 {
background: #43670F none repeat scroll 0% 0%;
}
.ct-sliderPop-slide2 {
background: #E14F11 none repeat scroll 0% 0%;
}
.ct-sliderPop-slide3 {
background: #4F4F99 none repeat scroll 0% 0%;
}.sliderPop.flexslider:hover .flex-direction-nav .flex-prev

.ct-sliderPop .inner .ct-sliderPop-close {
display: inline-block;
margin: -1% auto 30px;
transition: opacity 0.25s ease-in-out 0s;
width: 75px;
}
.ct-sliderPop h1 {
font-family: "nimbus-sans-condensed", sans-serif;
font-size: 75px;
font-weight: 700;
line-height: 1;
text-transform: uppercase;
margin-top: 0;
}
.ct-sliderPop h1 span {
font-family: 'coquette', fantasy;
text-transform: capitalize;
line-height: 0.8;
}
.ct-sliderPop h2,
.ct-sliderPop p {
font-family: "nimbus-sans-condensed", sans-serif;
font-size: 30px;
font-weight: 400;
line-height: 1;
}
.ct-sliderPop .fa {
  font-size: 84px;
  margin-bottom: 10px;
}
.ct-sliderPop p {
font-size: 18px;
padding-bottom: 30px;
width: 70%;
line-height: 24px;
margin: 0 auto;
}
.ct-sliderPop-container .flex-direction-nav a {
overflow: visible;
}
.flex-direction-nav a,
.flex-direction-nav a.flex-next::before,
.flex-direction-nav a.flex-prev::before {
color: #fff !important;
}
.flexslider .slides img {
width: auto !important;
}
.sliderPop-close {
width: 60px;
}


/* =================================
# Media Queries 
================================= */
@media (max-width: 1200px){

}
@media (max-width: 991px){

}
@media (max-width: 767px){

.ct-sliderPop {
  height: 500px;
  max-width: 500px !important;
}
.ct-sliderPop > .inner > .cow-map-img {
  margin-top: 50px;
}
.ct-sliderPop-description span {
  font-size: 50px;
}
.ct-sliderPop h2,
.ct-sliderPop-description {
  font-size: 20px;
}
.ct-sliderPop h2 {
  line-height: 0.2;
}
.ct-sliderPop-description {
  padding-bottom: 0;
}
.ct-sliderPop .inner {
  margin-top: 10px;
}
.ct-sliderPop-description .map-fontSize {
  font-size: 80px;
}
}

@-webkit-keyframes fadeIn{0%{opacity:0}100%{opacity:1}}
@keyframes fadeIn{0%{opacity:0}100%{opacity:1}}